{% extends 'beatcount/base.html' %}
{% load staticfiles %}
{% block content %}

<section id="about" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>練習問題</h2>
            <p>　それでは，練習問題に取り組んでいただきます．今回の実験で用いる全問題では，約1分間の楽曲が曲の途中から再生されます．再生された曲を聴いて，あなたが，8小節の初めのポイント＝1小節目の1拍目だと認識した部分で解答していただきます．課題ではPlayボタンを入力して楽曲を再生し，正解だと思ったタイミングで，HITボタンを入力して解答を行います．練習問題ではHITボタンの入力と同時に正解と不正解のアラートが表示されますので，通知を確認後，閉じてもらうと次の問題に移動します．練習，課題楽曲中では，1小節目の1拍目が2度登場します.聴きながら1度目を見つけて，そこから8小節分頭の中で数えて，2度目の正解位置でタイミングよくHITボタンを入力してください．また，解答せずに曲が終わってしまった場合もHITボタンを押して次の問題に移動してください．なお，各トラック名の横に表示されている"BPM"は曲の速さを表します．
                </p>
                <p>
                注意＊ ボタン入力の際は，”PLAY”,"HIT"と書かれた文字の部分をクリックしてください．文字以外の部分を押すと曲が止まりません．
                </p>
                <a href="#track01" class="btn btn-circle js-scroll-trigger">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="track01" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Track 1 : BPM 128</h2>
                <audio id="sound01" action="beatcount/views.py">
                    <source src="{% static 'media/Training 1 BPM 128.mp3' %}" type ="audio/mp3">
                        </audio>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a class="btn btn-default btn-lg">
                            <span id="play01" onClick ="PlayTrack01();" class="network-name" >Play</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#track02" class="btn btn-default btn-lg">
                            <span id="hit01" onClick ="judge00();" class="network-name">Hit</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section id="track02" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Track 2 : BPM 110</h2>
                <audio id="sound02">
                    <source src="{% static 'media/Training 2 BPM 110.mp3' %}" type ="audio/mp3">
                        </audio>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a class="btn btn-default btn-lg">
                            <span id="play02" onClick ="PlayTrack02();" class="network-name">Play</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#track03" class="btn btn-default btn-lg">
                            <span id="hit02" onClick ="judge02();" class="network-name">Hit</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section id="track03" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Track 3 : BPM 128</h2>
                <audio id="sound03">
                    <source src="{% static 'media/Training 3 BPM 128.mp3' %}" type ="audio/mp3">
                        </audio>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a   class="btn btn-default btn-lg">
                            <span id="play03" onClick ="PlayTrack03();" class="network-name">Play</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#finish" class="btn btn-default btn-lg">
                            <span id="hit03" onClick ="judge03();" class="network-name">Hit</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section id="finish" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p>
                問題では，速さの速い曲，遅い曲，ダンスミュージックやボーカル有りの曲など，様々な種類の楽曲がランダムで流れます．
                このような問題をまず前半に5問行ってもらいます．その後，5分間の休憩をはさんでから，後半に40問を行います．2つの課題では，正解，不正解のアラートは表示されません．なおHITボタンを押しても楽曲が止まらず，次の問題に移動した場合はご報告ください．
                </p>
                <h2>課題1 開始</h2>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="release.html" class="btn btn-default btn-lg">
                            <span class="network-name">Move</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock %}

