{% extends 'beatcount/base.html' %}
{% load staticfiles %}
{% block content %}

<section id="about" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>課題1：5問</h2>
            <p>　それでは課題1の5問を行います．準備ができ次第，下のボタンを押して問題に移動してください．
                
                </p>
                <a href="#Name" class="btn btn-circle js-scroll-trigger">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="Name" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Your Info</h2>
                <h2>Name</h2>
                <p><input type="text" name="user" maxlength="50" id="name" value=""/></p>
                <h2>Age</h2>
                <p><input type="text" name="age" maxlength="20" id="age" value=""/></p>
                
                <h2>Sex</h2>
                <p>
                <select name="Sex" id="sex" value="">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
                </p>
                
                <h2>Status</h2>
                <p>
                <select name="MusicExp" id="status" value="">
                    <option value="DJ">DJ</option>
                    <option value="Piano">Piano/Keybord</option>
                    <option value="Guitar">Guitar</option>
                    <option value="Bass">Bass</option>
                    <option value="Drum">Drum</option>
                    <option value="Dance">Dance</option>
                    <option value="Brass">Brass</option>
                    <option value="Strings">Strings</option>
                    <option value="Others">Others</option>
                    <option value="Noex">No Experience</option>
                </select>
                </p>
                
                
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a href="#track01" class="btn btn-default btn-lg">
                            <span id="hit" onClick ="InfoInput();" class="network-name">Start</span>
                        </a>
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </div>
</section>

<section id="track01" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Track 1 : BPM 128</h2>
                <audio id="soundR1">
                    <source src="{% static 'media/1 Release Track BPM 128.mp3' %}" type ="audio/mp3">
                        </audio>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a class="btn btn-default btn-lg">
                            <span id="playR1" onClick ="PlayTrackR1();" class="network-name">Play</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#track02" class="btn btn-default btn-lg">
                            <span id="hitR1" onClick ="judgeR1();" class="network-name">Hit</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section id="track02" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Track 2 : BPM 128</h2>
                <audio id="soundR2">
                    <source src="{% static 'media/2 Release Track BPM 128.mp3' %}" type ="audio/mp3">
                        </audio>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a class="btn btn-default btn-lg">
                            <span id="playR2" onClick ="PlayTrackR2();" class="network-name">Play</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#track03" class="btn btn-default btn-lg">
                            <span id="hitR2" onClick ="judgeR2();" class="network-name">Hit</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section id="track03" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Track 3 : BPM 110</h2>
                <audio id="soundR3">
                    <source src="{% static 'media/3 Release Track BPM 110.mp3' %}" type ="audio/mp3">
                        </audio>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a   class="btn btn-default btn-lg">
                            <span id="playR3" onClick ="PlayTrackR3();" class="network-name">Play</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#track04" class="btn btn-default btn-lg">
                            <span id="hitR3" onClick ="judgeR3();" class="network-name">Hit</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section id="track04" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Track 4 : BPM 100</h2>
                
                <audio id="soundR4">
                    <source src="{% static 'media/4 Release Track BPM 100.mp3' %}" type ="audio/mp3">
                        </audio>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a   class="btn btn-default btn-lg">
                            <span id="playR4" onClick ="PlayTrackR4();" class="network-name">Play</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#track05" class="btn btn-default btn-lg">
                            <span id="hitR4" onClick ="judgeR4();" class="network-name">Hit</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section id="track05" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Track 5 : BPM 90</h2>
                
                <audio id="soundR5" >
                    <source src="{% static 'media/5 Release Track BPM 90.mp3' %}" type ="audio/mp3">
                        </audio>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <a   class="btn btn-default btn-lg">
                            <span id="playR5" onClick ="PlayTrackR5();" class="network-name">Play</span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#finish" class="btn btn-default btn-lg">
                            <span id="hitR5" onClick ="judgeR5();" class="network-name">Hit</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>

<section id="finish" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Finish</h2>
                <p>
                問題は以上になります．解答ありがとうございます．「送信」ボタンを入力し，その後,最下部の「課題2へ」ボタンを入力してください．
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li class="list-inline-item">
                        <button type="submit" class="save btn-default btn" form="forms">送信</button>
                    </li>
                    <li class="list-inline-item">
                        <a href="test_page.html" class="btn btn-default btn-default">
                            <span class="network-name">課題2へ</span>
                        </a>
                    </li>
                </ul>

                
                
                <!--<ul class="list-inline banner-social-buttons">
                 <li class="list-inline-item">
                 <a href="post_edit.html" class="btn btn-default btn-lg">
                 <span class="network-name">Done</span>
                 </a>
                 </li>
                 </ul>-->
            </div>
        </div>
    </div>
</section>

<section id="send" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2> </h2>
                <h2> </h2>
                <h2> </h2>
                <form id ="forms" type="hidden" method="POST" class="post-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                </form>
                
                
                <!--<ul class="list-inline banner-social-buttons">
                 <li class="list-inline-item">
                 <a href="post_edit.html" class="btn btn-default btn-lg">
                 <span class="network-name">Done</span>
                 </a>
                 </li>
                 </ul>-->
            </div>
        </div>
    </div>
</section>
{% endblock %}


